#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
 
/ {
    chosen {
        zephyr,display = &st7789v;
    };
};

/* ESP32-S3 SPI2 configuration */
&spi2 {
    status = "okay";
    pinctrl-0 = <&spim2_default>;
    pinctrl-names = "default";
    cs-gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;

    st7789v: st7789v@0 {
        compatible = "sitronix,st7789v";  // Must match exactly
        reg = <0>;
        spi-max-frequency = <20000000>;
        width = <240>;
        height = <320>;
        reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
        dc-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
        rotation = <0>;
    };
};

/* ESP32-S3 specific pinctrl */
&pinctrl {
    spim2_default: spim2_default {
        group1 {
            pinmux = <SPIM2_MISO_GPIO13>,
                     <SPIM2_MOSI_GPIO11>,
                     <SPIM2_SCLK_GPIO12>;
            bias-pull-up;
        };
    };
};